@model IEnumerable<DataPulse.Domain.Models.ProcessMaster>
<h1>Process Catalog</h1>
<table class="table">
    <thead>
    <tr><th>Name</th><th>Description</th><th></th></tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProcessName</td>
            <td>@item.ProcessDescription</td>
            <td><a asp-action="Details" asp-route-id="@item.ProcessId">Open</a></td>
        </tr>
    }
    </tbody>
</table>
