@model IEnumerable<DataPulse.Domain.Models.DataTask>
<h1>Admin: Tasks</h1>
<table class="table">
    <thead><tr><th>Name</th><th>Status</th><th>Processes</th></tr></thead>
    <tbody>
    @foreach (var t in Model)
    {
        <tr>
            <td>@t.TaskName</td>
            <td>@t.Status</td>
            <td>@t.Processes.Count</td>
        </tr>
    }
    </tbody>
</table>
