@model IEnumerable<DataPulse.Domain.Models.ProcessMaster>
<h1>Admin: Processes</h1>
<table class="table">
    <thead><tr><th>Name</th><th>Description</th><th>Steps</th></tr></thead>
    <tbody>
    @foreach (var process in Model)
    {
        <tr>
            <td>@process.ProcessName</td>
            <td>@process.ProcessDescription</td>
            <td>@process.Steps.Count</td>
        </tr>
    }
    </tbody>
</table>
